body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #F5FFFA;
}

.menu-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 30px;
  cursor: pointer;
  padding: 15px;
  z-index: 1001;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: #082640;
  color: white;
  padding-top: 50px;
  transition: 0.4s ease;
  z-index: 1002;
  box-shadow: 5px 0 20px rgba(0,0,0,0.5);
}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.side-menu li {
  padding: 0;
}

.side-menu ul li a {
  display: block;
  padding: 15px 25px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.side-menu ul li a:hover {			#néon 
  color: #FF2B00;
  text-shadow:
    0 0 5px #FF2B00,
    0 0 10px #FF2B00,
    0 0 20px #FF2B00;
  background: rgba(255,255,0,0.1);
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu-logo {
  width: 120px;
}

.close-btn {
  font-size: 28px;
  cursor: pointer;
  color: white;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 1000;
}

.menu-overlay.show {
  display: block;
}

.header {
  position: sticky;
  top: 0;
  background: #F5FFFA;
  text-align: center;
  padding: 20px;
  z-index: 900;
}

.logo {
  height: 80px;
}

.slogan {
  font-style: italic;
}

.gallery {
  display: flex;
  justify-content: space-around;
  padding: 100px 20px;
}

.card {
  position: relative;
  width: 250px;
  height: 350px;
  background: grey;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.overlay-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  color: white;
  opacity: 0;
  transition: 0.3s;
}

.card:hover img {
  filter: blur(4px);
}

.card:hover .overlay-text {
  opacity: 1;
}

.scroll-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.scroll-top img {
  width: 40px;
  height: auto;
  transition: 0.2s;
}

.scroll-top img:hover {
  transform: scale(1.1);
}

footer {
  background: #2748D9;
  color: white;
  text-align: center;
  padding: 20px;
}

.insta {
  width: 30px;
  margin-top: 10px;
}
