h1
{
	font-family : "Arial";
	color : #e61811;
	font-size : 30px;
}
header {
	position: sticky;
	top: 0;
	padding: 20px;
	text-align: center;
	color: #e61811;
	background-color: #DEDED9;
	font-size: 30px;
 }
.container {
  display: flex;
  background-color: #DEDED9;
  justify-content: space-evenly;
}

.container div {
  background-color: #010A36;
  margin: 5px;
  padding: 20px;
  font-size: 30px;

}

