/* Style du titre */
h1 {
    font-family: Arial, sans-serif;
    color: #082640;
    font-size: 30px;
}

/* Style général */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

/* Footer */
footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

footer p,
footer a {
    color: #ccc;
    margin: 6px 0;
    text-decoration: none;
    font-size: 15px;
}

footer a:hover {
    color: #ffffff;
}

/* Réseaux sociaux */
.social a {
    margin: 0 10px;
    display: inline-block;
}

/* Copyright */
.copyright {
    margin-top: 25px;
    font-size: 13px;
    opacity: 0.6;
}
